.show-on-mobile{
    display: none !important;
}
.hide-on-mobile{
    display: block !important;
}

.banner-image-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    .main-text {
        position: absolute;
        top: 0;
        left: 0;
    }
    .secondary-text {
        position: absolute;
        top: 40px;
        left: 0;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media(max-width:767px) {
    .show-on-mobile{
        display: block !important;
    }
    .hide-on-mobile{
        display: none !important;
    }
}
