Odiseo\SyliusBannerPlugin\Model\BannerTranslation:
    type: mappedSuperclass
    table: odiseo_banner_translation
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        imageName:
            type: string
            column: image_name
        url:
            type: string
            nullable: true
        createdAt:
            type: datetime
            column: created_at
            gedmo:
                timestampable:
                    on: create
        updatedAt:
            type: datetime
            column: updated_at
            nullable: true
            gedmo:
                timestampable:
                    on: update
