{% if banners|length > 0 %}
    {% if banners|length > 1 %}
        <div class="slider-pro" id="banner-slider">
            <div class="sp-slides">
                {% for banner in banners %}
                    <div class="sp-slide">
                        {% include '@OdiseoSyliusBannerPlugin/Shop/Banner/_banner.html.twig' with {'banner': banner} only %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        {% set banner = banners|first %}
        {% include '@OdiseoSyliusBannerPlugin/Shop/Banner/_banner.html.twig' with {'banner': banner} only %}
    {% endif %}
{% endif %}
