{% if banners|length > 0 %}
    {% if banners|length > 1 %}
        {% for banner in banners %}
            <a href="{{ banner.url }}" target="_blank">
                <img src="{{ banner.imageName|imagine_filter('odiseo_sylius_banner_image') }}">
            </a>
        {% endfor %}
    {% else %}
        <a href="{{ banners[0].url }}" target="_blank">
            <img src="{{ banners[0].imageName|imagine_filter('odiseo_sylius_banner_image') }}">
        </a>
    {% endif %}
{% endif %}
